.DirectoriesManager {
    display: flex;
    flex-flow: column;
    padding: 2px;
    padding-bottom: 20px;
    flex: 1 0 auto;
}

.DirectoriesListActive {
    border: 1px solid #aaa;
    outline: 0;
}