.SearchContainer {
    padding: 1em;
    display: flex;
    max-width: 800px;
}

.SearchContainer .Autocomplete {
    flex: 1 0 200px;
    margin: 0.5em;
}

.SearchContainer .ButtonContainer {
    display: flex;
    margin: 0.5em;
}

.SearchContainer.AdvancedSearchContainer {
    flex-flow: column;
}

.SearchContainer.AdvancedSearchContainer .Autocomplete {
    flex: 1 0 auto;
}