.NoteManager {
    display: flex;
    padding: 10px;
}

.SidePanel {
    width: 100px;
    display: inline-flex;
    flex-direction: column;
}

.DirectoriesList {
    width: 400px;
    display: inline-flex;
    overflow-x: auto;
    box-shadow: 3px 2px 2px #aaa;
    border: 1px solid #aaa;
}